<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
      <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/classes/log4.properties</param-value>
    </context-param>
    <servlet>
    <servlet-name>HelloServlet</servlet-name>
	<servlet-class>com.day1.HelloServlet</servlet-class>    
    </servlet>
    <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/day1/hello.kh</url-pattern>
    </servlet-mapping>
<!-- 안전장치 -->    
    <servlet>
    <servlet-name>DeptServlet</servlet-name>
	<servlet-class>com.day1.DeptManager</servlet-class>    
    </servlet>
    <servlet-mapping>
    <servlet-name>DeptServlet</servlet-name>
    <url-pattern>/dept/insertAction.do</url-pattern>
    </servlet-mapping>
    
</web-app>

<!-- 
	Deployeement Descriptor
	배치서술자
	spring maven에서 빌드할 떄는 pom.xml파일등록
	web.xml문서를 수정했으면 서버를 재가동해야한다
 -->